name: test-and-snapshot

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Test
        run: make test

  snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Qemu
        uses: docker/setup-qemu-action@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Build release snapshot
        run: make snapshot

      - name: Archive release snapshot
        uses: actions/upload-artifact@v3
        with:
          name: release-snapshot
          path: |
            bin/*.tar.gz
            bin/*.txt
            bin/*.yaml
